<!-- src/assets/components/inputFields.html -->
<div id="common-input-fields">
    <label for="nomeProduto">Nome do produto:</label>
    <input type="text" id="nomeProduto" name="nomeProduto" value="Carne Bovina" required><br><br>

    <label for="descricaoProduto">Descrição do produto:</label>
    <input type="text" id="descricaoProduto" name="descricaoProduto" value="Carne bovina moída, 80% carne e 20% gordura" required><br><br>

    <label for="categoriaProduto">Categoria:</label>
    <input type="text" id="categoriaProduto" name="categoriaProduto" value="Carnes" required><br><br>

    <label for="unidadeMedida">Unidade de medida:</label>
    <input type="text" id="unidadeMedida" name="unidadeMedida" value="kg" required><br><br>

    <label for="fornecedor">Fornecedor:</label>
    <input type="text" id="fornecedor" name="fornecedor" value="Fornecedora de Carnes ABC" required><br><br>

    <label for="codigoBarras">Código de barras:</label>
    <input type="text" id="codigoBarras" name="codigoBarras" value="0000000000000" required><br><br>
</div>
