/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header global */
header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-nav {
    position: absolute;
    left: 10px;
}

.menu-nav ul {
    list-style: none;
    display: flex;
}

.menu-nav ul li {
    margin-right: 20px;
}

.menu-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.menu-nav ul li a:hover {
    color: #d1eaff;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 0;
}

/* Estilo geral do footer */
footer {
    background-color: #007bff;  /* Fundo azul para o rodapé */
    position: fixed;  /* Mantém o rodapé fixo no final da página */
    bottom: 0;  /* Gruda o rodapé na parte inferior */
    width: 100%;    /* Ocupa toda a largura da tela */
    text-align: center;  /* Alinhamento centralizado */
    color: white;  /* Texto branco */
    height: 20px;  /* Define a altura do rodapé */
    overflow: hidden;  /* Oculta o texto que está fora dos limites do rodapé */
    white-space: nowrap;  /* Impede que o texto quebre em várias linhas */
    z-index: 1000; /* Garante que o rodapé fique acima de outros elementos */
}

/* Estilo da animação de rolagem do texto */
.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    font-size: 1em;
    color: white;
    position: absolute; /* Posição absoluta para permitir a rolagem */
    transform: translateY(-100%); /* Centraliza verticalmente */
    animation: scroll-text 15s linear infinite;
}

/* Definindo a animação de rolagem (esquerda para direita) */
@keyframes scroll-text {
    0% {
        transform: translateX(100%);  /* Começa fora da tela à direita */
    }
    100% {
        transform: translateX(-100%);   /* Termina fora da tela à esquerda */
    }
}



/* Página Inicial - index.html */
.intro-section {
    text-align: center;
    margin: 50px 0;
}

.intro-section h2 {
    color: #007bff;
    font-size: 2em;
    margin-bottom: 20px;
}

.intro-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.main-image {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.features-section {
    padding: 50px 20px;
    background-color: #f8f9fa;
}

.features-section h2 {
    color: #070707;
    text-align: center;
    margin-bottom: 30px;
}

.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.feature-item {
    text-align: center;
    max-width: 300px;
    margin-bottom: 30px;
}

.feature-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.feature-item h3 {
    color: #007bff;
    margin-bottom: 10px;
}

/* Página de Contatos - contato.html */
.contact-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: left;
}

.contact-section h2 {
    color: #007bff;
    margin-bottom: 15px;
    text-align: center;
}

.contact-section p, .contact-section ul {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    line-height: 1.8;
}

.contact-section ul {
    margin-bottom: 30px;
}

.contact-section ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.social-media-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 45px;
    text-align: center;
}

.contact-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.contact-list li {
    margin: 0 10px;
    font-size: 1.2em;
    flex: 1;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.contact-list li a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-list li a:hover {
    color: #0056b3;
}

.contact-list li i {
    margin-bottom: 10px;
    display: block;
    font-size: 2em;
}

.contact-list li .fa-facebook {
    color: #3b5998;
}

.contact-list li .fa-instagram {
    color: #E1306C;
}

.contact-list li .fa-tiktok {
    color: #010101;
}

.contact-list li .fa-whatsapp {
    color: #25d366;
}

/* Botão global */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

button:hover {
    background-color: #0056b3;
}

/* Página de Produtos - produtos.html */
.content-section {
    padding: 20px;
    background-color: #f8f9fa;
    display: flex;  /* Ativa o Flexbox */
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;  /* Centraliza verticalmente */
   
    text-align: center;
    flex-direction: column; /* Garante que o texto fique em coluna */
}

.content-section h2 {
    color: #007bff;
    margin-bottom: 15px;
    margin-top: 40px;
}

.content-section p {
    margin-bottom: 20px;
    max-width: 800px;  /* Limita a largura do parágrafo para melhor legibilidade */
}


/* Barra de Navegação de Categorias */
.product-categories {
    margin-top: 40px;
}

.product-categories ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;  /* Reduz a margem entre os itens para 10px */
    flex-wrap: wrap;
}

.product-categories ul li {
    margin: 0;  /* Remove a margem horizontal existente */
}

.product-categories ul li a {
    background-color: #f8f9fa;
    color: #333;
    padding: 15px 105px;  /* Aumenta o espaço dentro dos botões */
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.product-categories ul li a:hover {
    background-color: #007bff;
    color: white;
    transform: translateY(-5px);
}


/* --------- Media Queries (Responsividade) --------- */

/* Para telas médias e grandes */
@media (min-width: 768px) {
    .features-container {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .feature-item {
        flex-basis: 30%;
    }
    
    .product-categories ul {
        justify-content: space-between;
    }
}

/* Para telas pequenas (smartphones) */
@media (max-width: 767px) {
    .menu-nav ul {
        flex-direction: column;
        text-align: center;
    }

    .features-container {
        flex-direction: column;
        align-items: center;
    }

    .feature-item {
        width: 90%;
        margin-bottom: 20px;
    }

    .product-categories ul li {
        width: 100%;
    }

    .content-section {
        padding: 10px;
    }

    .main-image {
        width: 100%;
    }
}
